<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.mapper.EmpMapper">

<!--    CDATA 쓰는 이유 => 쿼리문에 문자열 비교연산자나 부동호 처리할 때 -->

    <select id="getEmpList" resultType="org.example.domain.EmpVO">
        <![CDATA[
        SELECT * FROM SYJ_EMPLOYEE ORDER BY EMP_ID
        ]]>
    </select>

    <select id="getUpdate" resultType="org.example.domain.EmpVO">
        <![CDATA[
        SELECT * FROM SYJ_EMPLOYEE WHERE EMP_ID = #{emp_id}
        ]]>
    </select>

    <insert id="insert">
        <selectKey keyProperty="emp_id" order="BEFORE" resultType="int">
            select SEQ_ID.nextval from DUAL
        </selectKey>
        <![CDATA[
        INSERT INTO SYJ_EMPLOYEE (
             EMP_ID
           , NAME
           , COM_ID
           , TEAM_ID
           , SALARY
        ) VALUES(
             #{emp_id}
           , #{name}
           , #{com_id}
           , #{team_id}
           , #{salary}
        )
        ]]>
    </insert>

    <update id="update">
        UPDATE SYJ_EMPLOYEE
           SET NAME    = #{name}
             , COM_ID  = #{com_id}
             , TEAM_ID = #{team_id}
             , SALARY  = #{salary}
         WHERE EMP_ID  = #{emp_id}
    </update>

    <delete id="delete">
        DELETE FROM SYJ_EMPLOYEE
         WHERE EMP_ID = #{emp_id}
    </delete>

    <select id="getEmpName" resultType="org.example.domain.EmpVO">
        <![CDATA[
        SELECT * FROM SYJ_EMPLOYEE WHERE NAME LIKE '%' || #{name} || '%'
        ]]>
    </select>


</mapper>